<!-- head should be in applicaiton.html.haml -->
<head>
   <title>Little Big Town</title>
   <meta charset="utf-8"/>
   <meta name="theme-color" content="#C4D048"/>
   <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
   <meta name="viewport" content="width=device-width, initial-scale=1"/>
   <link rel="stylesheet" href="CSS/footer.css"/>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
   <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300" rel="stylesheet">
   <link rel="icon" href="Images/LogoFull.png" type="image/x-icon" />
   <link rel="shortcut icon" href="Images/LogoFull.png" type="image/x-icon" />
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<footer>
   <div class="w3-container w3-padding-32 w3-black w3-center w3-xsmall">
      <hr>
      <div class="container-fluid">
         <div class="row">
            <div class="col-xs-12 col-sm-4 col-lg-4">
               <div class="image"><i class="fa fa-envelope fa-3x" aria-hidden="true"></i></div>
               <div>
                  <h3 style="font-size: 35px">Contact</h3>
                  <p>
                     <i class="fas fa-envelope" aria-hidden="true"></i> &nbsp <a href="mailto:test@test.com?Subject=%20again" target="_top">help@LittleBigTown.co.uk</a>
                     <br>
                     <br>
                     <i class="fas fa-phone" aria-hidden="true"></i> &nbsp (01980)-849407
                     <br>
                  </p>
               </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-lg-4">
               <div class="image"><i class="fas fa-map-marker-alt fa-3x"></i></div>
               <h3 class="title" style="font-size: 35px">Location</h3>
               <p>
                  <i class="fas fa-map-marker-alt"></i> &nbsp Unit B - Arch House,
                  <br> Pennings Road,
                  <br> South Tidworth,
                  <br> Wiltshire
                  <br><small>(Next door to the Spar)</small>
               </p>
            </div>
            <div class="col-xs-12 col-sm-4 col-lg-4">
               <div class="image"><i class="far fa-clock fa-3x" aria-hidden="true"></i></div>
               <h3 class="title" style="font-size: 35px">Opening Times</h3>
               <div class="row" style="padding-top: 5px">
                  <div class="col-sm-12">
                     <p><b>Mon - Sat</b>
                        <br>
                        09:30 - 16:00
                     </P>
                  </div>
               </div>
               <div class="row">
                  <div class= "col-sm-12">
                     <p><b>Sun</b>
                        <br>
                        (By Appointment Only)
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <p>&copy; Matt Godfrey</p>
</footer>
